#second-div div p {
  background-image: url(./01.3-download.jfif);
  border: 5px solid rgb(16, 169, 246);
}
#second-div > p {
  background-image: url(./01.3-download.jfif);
  height: 300px;
  border: 5px solid rgb(16, 169, 246);
}
#para8 {
  background-repeat: repeat-x;
}
#para9 {
  background-repeat: repeat-y;
}
#para10 {
  background-repeat: no-repeat;
}
#para11 {
  background-repeat: no-repeat;
  background-size: cover;
}
#para12 {
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#para13 {
  background-repeat: no-repeat;
  background-size: contain;
}
#para14 {
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#para15 {
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 300px;
}
#para16 {
  background-repeat: no-repeat;
  background-position: left center;
  height: 600px;
}
