#grid-container {
  border: 5px solid black;
  height: 640px;
  background-color: turquoise;
  display: grid;
  grid-template-columns: 340px 340px 340px 345px;
  grid-template-rows: 150px 100px 70px 150px;
  gap: 20px;
  row-gap: 40px;
}

#grid-container > div {
  border: 1px solid #000000;
  background-color: violet;
}
#header {
  grid-column: 1/5;
}
#main {
  grid-row: 2/4;
}
#content1 {
  grid-column: 2/5;
}
#content2 {
  grid-column: 2/5;
}
#footer {
  grid-column: 1/5;
}
