#animation {
  width: 250px;
  height: 250px;
  border: 1px solid black;
  position: relative;
  animation-name: box;
  animation-duration: 5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes box {
  0% {
    left: 0px;
    top: 0px;
    background-color: aqua;
    width: 100px;
  }
  25% {
    top: 0px;
    left: 250px;
    background-color: blue;
  }
  50% {
    top: 250px;
    left: 250px;
    background-color: brown;
  }
  75% {
    left: 0px;
    top: 250px;
  }
  100% {
    left: 0px;
    top: 0px;
    background-color: coral;
  }
}
